<% include header %>
<link rel="stylesheet" type="text/css" href="Niharika.css"></head>
</head>
<body>
        <nav>
                <ul>
                                <br>
                                <br>
                                <br>
                                <br>
                                <li><a href="/">Home</a></li>
                                <li><a href="/temp">Temperature Converter</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/guestbook">Guestbook</a></li>
                        
                      </ul>
                      
        </nav>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>

<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div style="color:black" class="panel-body">
<%= entry.content %><br>
<%= entry.text2 %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
