html,body
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

  body
  { font: bold .80em 'trebuchet ms', arial, sans-serif;
    color:black;
	background-image: url("img.png");
	font-size: 16px
    
}
/* .container {
    margin:0 auto; 
    width:960px; 
 } */
 .header
 { background: #1d1d1d ;
   border-bottom: 2px solid lightpink;
   /* height: 30px; */
 }  
.w3-button 
{
	width:150px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* #text 
{ 
  top: 5px;
} */
  p
  { padding: 0 0 20px 0;
	line-height: 1.7em;}

	h2
	{ color: lightpink;
	  letter-spacing: 0em;
	  padding: 0 0 5px 0;
  font-size: 150%;
text-align: center;}

h1
{ color: rgb(168, 23, 45);
  letter-spacing: 0em;
  padding: 0 0 5px 0;
font-size: 200%;
text-align: left    ;}

  h3
  { color:white;
	letter-spacing: 0em;
	padding: 0 0 5px 0;
font-size: 150%;
text-align: center;}
h4{
	color: black;
	letter-spacing: 0em;
	padding:0 0 5px 0;
	font-size:200%;
}

  #text 
  { position: absolute; 
	top: 10px;
	left: 50px;}

article{
	/*background-color: Bisque;*/ 
	text-align: left;
	fonts-family: "Times New Roman", Georgia, Serif;
	font-weight: normal;
	font-size: 1.2em	
}

header{
	/*background-color: rgb(197, 195, 194) ;*/
	text-align: left;
	font-weight:bold;
	font-size: 200%;
	padding: 4px;
    /*border: 3px solid rgb(165, 162, 162) ;*/
	font-style: normal ;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
    background-color: #4CAF50;
}

 footer {
    padding: 1.5em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
 
}


.img-circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;
color:black}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}

.section-header{
	font-size:10px;
	font-family:Arial,Helvetica,sans-serif;
	font-variant: normal;
}
.aside-header{
	font-size:10px;
	font-family:Arial,Helvetica,sans-serif;
	font-variant: normal;
	
}
#past-section{
	border:3px black;
	color: rgba(255, 255, 255, 0.014) ;
	font-variant: normal;
	
}

#future-section{
	border:3px black;
	color: black ;
	font-variant: normal;
	
}
/* .border1{
border-style: double;
} */
	